# Configuration du serveur
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# Configuration de la base de données
DATABASE_PATH=./data/database.db
DATABASE_WAL=true

# Frontend URL
DEV_APP_URL=http://localhost:5173
PROD_APP_URL=http://localhost:5173